header{
  background-color: #969bff;
}

h1{
  text-align: center;
  color: #ff0000;
  text-transform:uppercase;
}

h2{
  color: #520700;
  text-transform: uppercase;
}

section{
  background-color: #d0e653;
}

a{
  background-color: #737373;
  color: #000000;
}

img{
  display: none;
}
